<% @page_title = '使い方' %>

<p>
    「音札」の初回プレー時に対応ICカードをかざします。<br>
    未登録のカードの場合「アクセスコード」が表示されます。<br>
    おとふだNETトップページから「カード登録」を選択し、アクセスコードを入力します。<br>
    おとふだNETでの登録が完了すれば、次回からカードをかざすだけで認証できるようになります。
</p>
