<% @page_title = '使い方' %>

<h3>ユーザー登録方法</h3>
<p>
    「音札」の初回プレー時に対応ICカードをかざします。<br>
    未登録のカードの場合「アクセスコード」と「QRコード」が表示されます。
</p>
<p>
    「QRコード」を読み取ると、そのままおとふだNETでユーザー登録を行うことができます。<br>
    または、おとふだNETトップページから「カード登録」を選択し、アクセスコードを入力します。
</p>
<p>
    おとふだNETでの登録が完了すれば、次回からカードをかざすだけで認証できるようになります。
</p>
<p>
    対応カードは以下のとおりです。
</p>

<h3>対応</h3>
<ul>
    <li>バナパスポートカード</li>
    <li>Aimeカード</li>
    <li>NESiCAカード</li>
    <li>アミューズメントIC対応カード</li>
    <li>Suicaなどの交通系ICカード</li>
</ul>

<h3>非対応</h3>
<ul>
    <li>e-amusement pass(3代目以前)</li>
    <li>NFC対応スマートフォン</li>
    <li>運転免許証</li>
    <li>その他NFC TypeBカード</li>
</ul>

<p><a href="/">トップへ戻る</a></p>
