<h1>おとふだNET</h1>
<p>Find me in app/views/top/index.html.erb</p>
<ul>
    <li><a href="./users/register">カード登録</a></li>
</ul>
<form action="">
    <div>
        メールアドレス
        <input type="text">
    </div>
    <div>
        パスワード
        <input type="password" name="" id="">
    </div>
    <input type="submit" value="ログイン">
</form>
