<h3>
    <%= @page_title = 'アクセスコード入力' %>
</h3>
<div class="row">
    音札の筐体で表示された4桁のアクセスコードを入力してください。
</div>

<%= form_with( url: users_register_path, method: :get, local: true, class: 'pure-form' ) do |f| %>
    <div class="row">
        <%= f.text_field :ac, placeholder: '0000', class: 'pure-input-1 input-ac', maxlength: 4 %>
    </div>
    <div class="row">
        <%= f.submit('コード確認', class: 'pure-button') %>
    </div>
<% end %>
