body {
    background: #303030;
    color: #f0f0f0;
    margin: 0;
    text-align: center;

    nav {
        background: #606060;
        line-height: 1;

        a img {
            height: 45px;
            margin: 10px;
        }
    }

    .flash {
        background: #1f8dd6;
        margin: 15px;
        padding: 5px;
        border-radius: 3px;
        color: #fff;
    }

    main {
        max-width: 720px;
        margin: 0 auto;
        padding: 0 15px;

        input {
            color: #303030;
        }

        a {
            color: #f0f0f0;
        }

        .row {
            margin: 10px 0;
        }

        .pure-form {

            .pure-button {
                color: #f0f0f0;
                background: #444444;
                border: 1px solid #a0a0a0;
            }

            input.pure-input-1,
            textarea.pure-input-1 {
                background: #444444;
                color: #f0f0f0 !important;
                box-shadow: none !important;
            }

            .input-ac {
                font-size: 32px;
                letter-spacing: 20px;
                text-indent: 10px;
                margin: 10px 0;
                overflow: hidden;
                text-align: center;
            }

            select {
                background: #444444;
                box-shadow: none;
            }
        }
    }

    footer {
        color: #a0a0a0;
        background: #444444;
        font-size: 15px;
        padding: 3px;
    }

}
